MINIO_ROOT_USER=minio1234
MINIO_ROOT_PASSWORD=minio12345
MINIO_ENDPOINT_S3=http://minio:9000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=warehouse

AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=./airflow
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin
AIRFLOW__API_AUTH__JWT_SECRET=nyc_taxi_jwt_secret
FERNET_KEY=